.column {
  width: 300px;
  float: right;
  margin: 20px;
  background-color: brown;
  text-align: center;
}

.sidebar {
  float: left;
  background-color: pink;
  text-align: center;
}


.bigtime {
  float:left;
  text-align: center;
  margin: auto;
}
